* {
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
    color: gray;
}


#header {
    background-color: rgb(235, 235, 235);
    padding-right: 8.71%;
    padding-left: 8.71%;
    padding-top: 25px;
    padding-bottom: 5px;
}
#header-top {
    display: flex;
    justify-content: space-between;
}
#header-top-link {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    gap: 10px;
    font-size: 0.75rem;
}
#header-top-login {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#header-link-login, #header-link-top {
    margin: 0;
}



#header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8.71%;
    padding-left: 8.71%;
    height: 60px;
}
#header-bottom-left {
    display: flex;
    gap: 10px;
}
#header-bottom-right {
    display: flex;
    gap: 10px;
}



#homepage {
    display: flex;
    background: linear-gradient(to right,#4854d3,78%,#6091f7);
    align-items: flex-start;
    flex-direction: column;
    padding: 2% 8.71% 0% 8.71%;
    gap: 10px;
}
#homepage-title {
    display: flex;
    color: #f2afdc;
    font-weight: 1000;
    font-size: 2.75rem;
}
#homepage-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    width: 910px;
    height: 50px;
}
#homepage-search-input {
    border: 0;
    width: 800px;
    height: 40px;
}
#homepage-search-button {
    width: 100px;
    height: 40px;
    font-weight: bold;
    background-color: rgba(158, 158, 158, 0.3);
    border: 0;
    border-radius: 4px;
}
#homepage-search-button:hover {
    background-color: rgba(158, 158, 158, 0.8);
}
#homepage-links {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    top: 32px;
}
#homepage-links-button {
    width: 20%;
    height: 50px;
    border: 0;
    font-weight: bold;
    color: white;
}
#homepage-links-button:hover {
    opacity: 0.8;
}



#discover {
    display: flex;
    flex-direction: column;
    padding: 2% 8.71% 2% 8.71%;
}
#discover-title {
    font-size: 1.4rem;
    color: black;
}
#discover-section {
    display: flex;
    overflow: scroll;
}
#discover-image {
    width: 300px;
}


#footer-line {
    width: 100vw;
    height: 8px;
    background-color: rgb(226, 166, 0);
}
#footer-top {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    height: 50px;
    font-size: 0.9rem;
    padding-right: 13.71%;
    padding-left: 8.71%;
}
#footer-link-top {
    display: flex;
    gap: 10px;
}
#footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 0.75rem;
    background-color: rgb(235, 235, 235);
    padding-right: 8.71%;
    padding-left: 8.71%;
    height: 80px;
}
#footer-bottom-link {
    display: flex;
    gap: 10px;
}
#footer-bottom-social {
    display: flex;
    gap: 10px;
}